
<%= turbo_frame_tag :results do %>
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <tr id="<%= dom_id reservation %>">
        <td><strong>Customer name:</strong></td>
        <td><%= reservation.customer_name %></td>
      </tr>
      <tr>
        <td><strong>Customer email:</strong></td>
        <td><%= reservation.customer_email %></td>
      </tr>
      <tr>
        <td><strong>Customer phone:</strong></td>
        <td><%= reservation.customer_phone %></td>
      </tr>
      <tr>
        <td><strong>Persons size:</strong></td>
        <td><%= reservation.persons_size %></td>
      </tr>
      <tr>
        <td><strong>Reservation date:</strong></td>
        <td><%= reservation.reservation_date %></td>
      </tr>
    </tbody>
  </table>
  </div>
<% end %>