<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @hotel %>

  
  <div class="row mt-4">
    <div class="col">
    <%= link_to "Edit", edit_hotel_path(@hotel), class: "btn btn-primary" %> 
    <%= link_to "Back to hotels", hotels_path, class: "btn btn-primary"%> 
    <%= button_to "Destroy", @hotel, method: :delete, class: "btn btn-danger" %>
    </br>
    </div>
  </div>
</div>
